<div class="w-full mx-auto max-w-md bg-white shadow-md rounded px-8 pt-11 pb-8 mt-11">
  <h1 class="text-gray-900 text-2xl text-center mb-5 font-medium title-font">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="relative mb-4 field">
      <%= f.label :name, class: "leading-7 text-sm text-gray-600" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
    </div>
    <div class="relative mb-4 field">
      <%= f.label :email, class: "leading-7 text-sm text-gray-600" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
    </div>
    <div class="relative mb-4 field">
      <%= f.label :password, class: "leading-7 text-sm text-gray-600" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
    </div>
    <div class="relative mb-4 field">
      <%= f.label :password_confirmation, class: "leading-7 text-sm text-gray-600" %><br />
      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "current-password", class: "w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
