<ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
  <li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
      <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate"><%= user.name %></p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400"><%= user.email %></p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
          <span class="mr-5"><%= user.active %></span>
          <span><%= user.role %></span>
        </p>
      </div>
      <div class="inline-flex items-center text-base font-semibold text-gray-900">
        <%= link_to 'Edit', edit_user_path(user), class: "focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-4 py-2 mb-2" %>
      </div>
      <div class="inline-flex items-center text-base font-semibold text-gray-900">
        <%= link_to 'Destroy', user, method: :delete, class: "focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 mb-2 " %>
      </div>
    </div>
  </li>
</ul>
