<div class="w-full mx-auto max-w-md bg-white shadow-md rounded px-8 pt-11 pb-8 mt-11">
  <h1 class="text-gray-900 text-2xl text-center mb-5 font-medium title-font">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="relative mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mt-2" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="relative mb-4">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mt-2" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
